@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #DCDCDC;
    display: flex;
    max-width: calc(100vw - 10px);
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Ubuntu';
    margin: 0;
    overflow-x: hidden;
    flex-direction: column;
    /* border: dashed #000000; */
}

a {
    text-decoration: none;
    color: #000 !important;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
    /* border: dashed #1c1c1c; */
}

.greetings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: dashed #613db4; */
}

.greetings-text {
    /* border: dashed #1c1c1c; */
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    text-wrap: wrap;
}

.greetings h1 {
    margin: 0;
    margin-top: -2rem;
    font-size: 3rem;
    /* border: dashed #1c1c1c; */
}

.greetings p {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.greetings img {
    max-width: 100%;
    border-radius: 25px;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: -7rem;
    height: auto;
    /* border: dashed #979494; */
}

.container a {
    /* для кнопки */
    margin-top: -7rem;
    margin-bottom: 10rem;
}

#wrapBut {
    font-family: "Ubuntu";
    /* border: dashed; */
    border: 0;
    border-radius: 300px;
    background-color: #000000;
    color: #FAFAFA;
    cursor: pointer;
    text-wrap: nowrap;
    height: 3rem;
    width: 15rem;
    font-size: 1.17rem;
}

#wrapBut:hover {
    background-color: #3b3b3b;
}

.under-greet {
    /* border: dashed #000000; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20rem;
    min-width: fit-content;
}

.under-greet h1 {
    /* border: dashed #000000; */
    position: absolute;
    margin-bottom: 5rem;
    padding: 2rem;
    text-align: center;
    font-size: 2.4rem;
}

.list-section {
    /* border: dashed #000000; */

    display: flex;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -7rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.frame {
    border: solid #3b3b3b 2px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: 20rem;
    padding: 1rem;
    padding-bottom: 3.3rem;
    flex-basis: 100%;
    margin: 1rem;
}

.main-text h1 {
    margin-left: center;
    font-size: 2rem;
    min-height: 1.8rem;
}

.sub-text {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: -1rem;
}

.sub-text li {
    padding-bottom: 1.7rem;
    max-height: 2rem;
}

.frame button {
    font-family: "Ubuntu";
    font-size: 1.3rem;
    /* border: dashed; */
    border: 0;
    border-radius: 300px;
    background-color: #3b3b3b;
    color: #f5f5f5;
    cursor: pointer;
    text-wrap: nowrap;
    height: 3rem;
    width: 15rem;
    font-size: 16px;
}

.frame button:hover {
    background: #2c2c2c;
}

#python {
    border: outset #36b02e 5px;
}

#front {
    border: outset #e09b10 5px;
}

#fullstack {
    border: outset #2a84bd 5px;
}


#FS-li {
    text-wrap: nowrap
        /* строка большая приходится так :(( */
    ;
}

/* |||||||||||||||            РАЗДЕЛ ДЛЯ ОПИСАНИЯ КУРСОВ           |||||||||||||||||||||*/
.py-case {
    /* border: dashed #000; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    width: 100%;
    margin-top: 20rem;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.content {
    display: flex;
    flex-direction: column;
    scroll-margin-top: 2rem;
}

.content h1 {
    text-align: center;
}

.text-with-image {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    scroll-margin-top: 3rem;
    /* выравниваем контейнеры по верхнему краю экрана */
}

.base-text p {
    margin-top: 2rem;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.text {
    flex: 1;
}

.image-for-case {
    display: flex;
    /* border: dashed #333; */
    margin-left: 5rem;
    margin-right: 0;
    justify-content: flex-end;
    padding-right: 20px;
}

.image-for-case img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    width: 45rem;
    border-radius: 20px;
    box-shadow: -1px -5px 5px #3b3b3b25;
}

/*|||||||||||||     ИСКЛЮЧЕНИЯ ДЛЯ ВТОРОГО СЛАЙДА           ||||||||||*/
#second-slide-py {
    flex-direction: row-reverse;
}

#py-image-2 {
    display: flex;
    margin-right: 5rem;
    margin-left: 0;
    justify-content: flex-start;
}

/* ||||||||||||     ИСКЛЮЧЕНИЯ ДЛЯ ТРЕТЬЕГО СЛАЙДА         |||||||||||| */
#py-image-3 {
    width: 50rem;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||| FRONTEND-блок ||||||||||||||||||||||||||||||||||||||||||| */

.frontend-case {
    /* border: dashed #000; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    width: 100%;
    margin-top: 20rem;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#second-slide-fr {
    flex-direction: row-reverse;
}

#fr-image-2 {
    display: flex;
    /* border: dashed #333; */
    margin-right: 5rem;
    margin-left: 0;
    justify-content: flex-start;
}